@font-face {
  font-family: "roboto-bold";
  src: url(./Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: "roboto-normal";
  src: url(./Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "roboto-italic";
  src: url(./Roboto/Roboto-Italic.ttf);
}

/* @media only screen and (max-width: 760px) {
  .about-main-container {
    display: block;
  }
} */

:root {
  --dark-color: #1f2937;
  --darker-white: #e5e7eb;
  --white-color: #f9faf8;
  --blue-color: #3882f6;
  --font-small: 18px;
  --font-medium: 24px;
  --font-large: 36px;
  --font-xl: 48px;
}
/*----------- STANDARDS => Don't Change just Overwrite with specifics -----------*/
* {
  margin: 0;
}

h1 {
  padding: 5rem 0 0 6rem;
  font-family: "roboto-bold";
  font-size: var(--font-xl);
  color: var(--white-color);
}

h2 {
  font-family: "roboto-bold";
  font-size: var(--font-large);
  color: var(--dark-color);
  padding-top: 5rem;
}

p {
  font-family: "roboto-normal";
  font-size: var(--font-small);
  line-height: 2rem;
  color: var(--darker-white);
}

figcaption {
  padding-top: 1rem;
  font-family: "roboto-italic";
  font-size: 16px;
  color: var(--white-color);
}

footer {
  margin-top: 5rem;
  text-align: center;
  background-color: var(--);
  background-color: var(--dark-color);
}

button {
  background-color: var(--blue-color);
  color: var(--white-color);
  font-family: "roboto-normal";
  border: none;
  border-radius: 10%;
  width: 100px;
  height: 40px;
}
/*-------------------------------- NAV-BAR --------------------------------------------*/
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: var(--blue-color);
}

.nav-left-container {
  margin-left: 5rem;
}

.nav-right-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5.5rem 0 0;

}

.nav-right-container > a {
  font-family: "roboto-normal";
  text-decoration: none;
  font-size: var(--font-medium);
  color: var(--white-color);
}

.logo {
  width: 70px;
  height: 70px;
}
/*-------------- SPECIFICS => about.html ----------------------------------------------*/
.header-main-about-us { 
  padding: 0;
  padding-bottom: 2rem;
} 

.about-top-main-container {
  display: flex;
  justify-content: space-around;
  padding-top: 10rem;
  padding-bottom: 2rem;
  background-color: var(--dark-color);
}

.about-top-left-main-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about-top-right-main-container {
  width: 35%;;
}

.team-picture {
  width: 500px;

}

.about-join-us-button {
  margin-bottom: 3rem;
}

